$purple: #AD1FEA;
$back-col: #F2F2F2;
$pink: #F49F85;
$colorh: #3A4374;
$colorp: #647196;
$commentcolor: #CDD2EE;
$button: #F2F4FF;
$buttonhover: #C75AF6;
$buttonclick: #4661E6;
$blue: #62BCFA;
$nav-back: #373F68;
$icons-hover: #CFD7FF;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a {
    text-decoration: none;
    font-size: 0.8rem;
    cursor: pointer;

    i {
        margin-right: 0.5rem;
        font-size: 0.8rem;  
    }
    
}

// Nav-bar style start
.roadmap-container {
    // width: 100%;
    // height: 100%;
    background: $back-col;
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.col12 {
    width: 65rem;
    height: 5.2rem;
    margin-top: 2rem;
    padding: 1rem;
    background: $nav-back;
    border-radius: 0.8rem;

    .logo-container .logo {
        height: 0.3rem;

        .arrow-left {
            margin-left: 2rem;
            color: #fff;
        }

        span {
            &:hover {
                border-bottom: 1px solid #fff;
                transition: all 0.35s ease;
            }
        }
        h1 {
            font-size: 1.25rem;
            margin-left: 2rem;
            margin-top: 0.8rem;
            color: #fff;
        }
    }

    .feed-button {
        height: 2.5rem;
        border-radius: 0.8rem;
        background: $purple;
        margin-left: 52rem;
        padding: 0.5rem;

        .plus {
            margin-left: 2rem;
            text-align: center;
            color: #fff;
        }
    &:hover {
        background-color: $buttonhover;
    }  
    }
}
// Nav-bar style end


// Main style start
.road-main {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 2rem;
    width: 65rem;
    
    .planned-research h2 , .progress-developed h2 , .live-features h2 {
        width: 6rem;
        height: 1.7rem;
        font-weight: 700 bold;
        font-size: 1.02rem;
        line-height: 1.7rem;
        letter-spacing: -0.05rem;
        color: $colorh;
    }

    .planned-research p , .progress-developed p , .live-features p{
        width: 12.25rem;
        height: 1.5rem;
        font-size: 1rem;
        font-family: 400;
        line-height: 1.7rem;
        color: $colorp;
    }

    .reports , .paths {
        position: relative;
        width: 18rem;
        height: 15rem;
        margin-top: 1.5rem;
        border-radius: 0.5rem;
        background: #fff;

        .reports-pink , .paths-pink {
            width: 18rem;
            height: 0.3rem;
            border-radius: 5px 5px 0 0;
            background: $pink;
            margin-bottom: 1rem;
        }

        .reports-p , .paths-p {
            width: 3.5rem;
            height: 1.4rem;
            font-size: 1rem;
            margin-left: 1.5rem;
            color: $colorp;

            .fa-circle {
                position: absolute;
                left: 5%;
                top: 11%;
                font-size: 0.4rem;
                color: $pink;
            }

        }
        .reports-h , .paths-h {
            width: 15rem;
            height: 1.6rem;
            font-size: 1rem;
            font-weight: 700 bold;
            line-height: 1.7rem;
            letter-spacing: 0.05rem;
            margin-left: 0.6rem;
            color: $colorh;
        }

        .reports-p2 , .paths-p2 {
            width: 17.5rem;
            height: 2.8rem;
            font-size: 1rem;
            margin-top: 0.3rem;
            margin-left: 0.6rem;
            color: $colorp;
        }

        .reports-commit , .paths-commit {
            display: flex;
            flex-direction: column;
            margin-left: 0.5rem;
            margin-top: 1rem;

  

            .reports-feature , .chevron-up , .paths-features , .paths-chevron {
                width: 3.5rem;
                height: 1.8rem;
                border-radius: 0.8rem;
                background: $button;
                color: $colorp;
                padding: 0.5rem;
                margin-top: 0.5rem; 
                transition: 0.35s ease;
                
                &:hover {
                    background: $icons-hover;
                }  
                &:focus {
                    background: $buttonclick;
                    transition: 0.35s ease;
                    color: #fff;
                }     
            }
        }
        

        .comment {
            position: absolute;
            border-radius: 0.8rem;
            background: $button;
            color: $colorp;
            right: 0.5rem;
            bottom: 2rem;
            padding: 0.5rem;
            transition: 0.35s ease;

            &:hover {
                background: $icons-hover;
            }  
            &:focus {
                background: $buttonclick;
                transition: 0.35s ease;
                color: #fff;
            }   
        }
    }

    .generation , .challenges , .screenshots {
        position: relative;
        width: 18rem;
        height: 15rem;
        margin-top: 1.5rem;
        margin-left: 1rem;
        border-radius: 0.5rem;
        background: #fff;



        .generation-purple , .challenges-purple , .screenshots-purple {
            width: 18rem;
            height: 0.3rem;
            border-radius: 5px 5px 0 0;
            background: $purple;
            margin-bottom: 1rem;
        }

        .generation-p , .challenges-p , .screenshots-p {
            font-size: 1rem;
            margin-left: 1.5rem;
            color: $colorp;

            .fa-circle {
                position: absolute;
                left: 5%;
                top: 11%;
                font-size: 0.4rem;
                color: $purple;
            }
        }

        .generation-h , .challenges-h, .screenshots-h {
            width: 15rem;
            height: 1.6rem;
            font-size: 1rem;
            font-weight: 700 bold;
            line-height: 1.7rem;
            letter-spacing: 0.05rem;
            margin-top: 0.5rem;
            margin-left: 0.6rem;
            color: $colorh;
        }

        .generation-p2 , .screenshots-p2 , .challenges-p2 {
            width: 17.5rem;
            height: 2.8rem;
            font-size: 1rem;
            margin-top: 0.3rem;
            margin-left: 0.6rem;
            color: $colorp;
        }

        .generation-commit , .challenges-commit , .screenshots-commit {
            display: flex;
            flex-direction: column;
            margin-left: 0.5rem;
            margin-top: 1rem;

            .generation-features , .generation-chevron , .challenges-features , .challenges-chevron , .screenshots-bug , .screen-chevron {
                width: 3.5rem;
                height: 1.8rem;
                border-radius: 0.8rem;
                background: $button;
                color: $colorp;
                padding: 0.5rem;
                margin-top: 0.5rem;
                transition: 0.35s ease;  
                
                &:hover {
                    background: $icons-hover;
                } 
                &:focus {
                    background: $buttonclick;
                    transition: 0.35s ease;
                    color: #fff;
                }  
            }
        }
        .comment {
            position: absolute;
            border-radius: 0.8rem;
            background: $button;
            color: $colorp;
            right: 0.5rem;
            bottom: 2rem;
            padding: 0.5rem;
            transition: 0.35s ease;

            &:hover {
                background: $icons-hover;
            } 
            &:focus {
                background: $buttonclick;
                transition: 0.35s ease;
                color: #fff;
            }  
        }
    }

    .interactions {
        position: relative;
        width: 18rem;
        height: 15rem;
        margin-top: 1.5rem;
        margin-left: 1rem;
        border-radius: 0.5rem;
        background: #fff;



        .live-blue {
            width: 18rem;
            height: 0.3rem;
            border-radius: 5px 5px 0 0;
            background: $blue;
            margin-bottom: 1rem;
        }

        .live-p {
            width: 3.5rem;
            height: 1.4rem;
            font-size: 1rem;
            margin-left: 1.5rem;
            color: $colorp;

            .fa-circle {
                position: absolute;
                left: 5%;
                top: 11%;
                font-size: 0.4rem;
                color: $blue;
            }
        }

        .live-h {
            width: 15rem;
            height: 1.6rem;
            font-size: 1rem;
            font-weight: 700 bold;
            line-height: 1.7rem;
            letter-spacing: 0.05rem;
            margin-top: 0.5rem;
            margin-left: 0.6rem;
            color: $colorh;
        }

        .live-p2 {
            width: 17.5rem;
            height: 2.8rem;
            font-size: 1rem;
            margin-top: 0.3rem;
            margin-left: 0.6rem;
            color: $colorp;
        }

        .live-commit {
            display: flex;
            flex-direction: column;
            margin-left: 0.5rem;
            margin-top: 1rem;

            .live-enchancement , .live-chevron {
                width: 3.5rem;
                height: 1.8rem;
                border-radius: 0.8rem;
                background: $button;
                color: $colorp;
                padding: 0.5rem;
                margin-top: 0.5rem; 
                transition: 0.35s ease;
                
                &:hover {
                    background: $icons-hover;
                } 
                &:focus {
                    background: $buttonclick;
                    transition: 0.35s ease;
                    color: #fff;
                }  
            }
        }
        .comment {
            position: absolute;
            border-radius: 0.8rem;
            background: $button;
            color: $colorp;
            right: 0.5rem;
            bottom: 2rem;
            padding: 0.5rem;
            transition: 0.35s ease;
            
            &:hover {
                background: $icons-hover;
            }
            &:focus {
                background: $buttonclick;
                transition: 0.35s ease;
                color: #fff;
            }  
        }
    }
}