/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 0.8rem;
}

a i {
  margin-right: 0.5rem;
  font-size: 0.5rem;
}

.roadmap-container {
  width: 100%;
  height: 100vh;
  background: #F2F2F2;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col12 {
  width: 65rem;
  height: 5.2rem;
  margin-top: 2rem;
  padding: 1rem;
  background: #373F68;
  border-radius: 0.8rem;
}

.col12 .logo-container .logo {
  height: 0.3rem;
}

.col12 .logo-container .logo .arrow-left {
  margin-left: 2rem;
  color: #fff;
}

.col12 .logo-container .logo h1 {
  font-size: 1.25rem;
  margin-left: 2rem;
  margin-top: 0.8rem;
  color: #fff;
}

.col12 .feed-button {
  height: 2.5rem;
  border-radius: 0.8rem;
  background: #AD1FEA;
  margin-left: 52rem;
  padding: 0.5rem;
}

.col12 .feed-button .plus {
  margin-left: 2rem;
  text-align: center;
  color: #fff;
}

.road-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  width: 65rem;
}

.road-main .planned-research h2, .road-main .progress-developed h2, .road-main .live-features h2 {
  width: 6rem;
  height: 1.7rem;
  font-weight: 700 bold;
  font-size: 1.02rem;
  line-height: 1.7rem;
  letter-spacing: -0.05rem;
  color: #3A4374;
}

.road-main .planned-research p, .road-main .progress-developed p, .road-main .live-features p {
  width: 12.25rem;
  height: 1.5rem;
  font-size: 1rem;
  font-family: 400;
  line-height: 1.7rem;
  color: #647196;
}

.road-main .reports, .road-main .paths {
  width: 18rem;
  height: 15rem;
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  background: #fff;
}

.road-main .reports .reports-pink, .road-main .reports .paths-pink, .road-main .paths .reports-pink, .road-main .paths .paths-pink {
  width: 18rem;
  height: 0.3rem;
  border-radius: 0.5rem;
  background: #F49F85;
}

.road-main .reports .reports-p1, .road-main .reports .paths-p, .road-main .paths .reports-p1, .road-main .paths .paths-p {
  width: 3.5rem;
  height: 1.4rem;
  font-size: 1rem;
  margin-left: 1.5rem;
  color: #647196;
}

.road-main .reports .reports-h, .road-main .reports .paths-h, .road-main .paths .reports-h, .road-main .paths .paths-h {
  width: 15rem;
  height: 1.6rem;
  font-size: 1rem;
  font-weight: 700 bold;
  line-height: 1.7rem;
  letter-spacing: 0.05rem;
  margin-left: 0.6rem;
  color: #3A4374;
}

.road-main .reports .reports-p2, .road-main .reports .paths-p2, .road-main .paths .reports-p2, .road-main .paths .paths-p2 {
  width: 17.5rem;
  height: 2.8rem;
  font-size: 1rem;
  margin-top: 0.3rem;
  margin-left: 0.6rem;
  color: #647196;
}

.road-main .reports .reports-feature, .road-main .reports .paths-features, .road-main .paths .reports-feature, .road-main .paths .paths-features {
  height: 2.5rem;
  border-radius: 0.8rem;
  background: #F2F4FF;
  color: #647196;
  padding: 0.5rem;
}
