.golden-container {
     position: relative;
   
}

/* Nav bar style start */
.nav-bar {
    width: 1400px;
    height: 207px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: baseline;
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0; */
}

.nav-logo img {
    width: 200px;
    height: 55px;
    margin-top: 14px;
    margin-left: 145px;
}
.nav-info {
    width: 850px;
    height: 22px;
    letter-spacing: 1px;
    
    
    
}

.nav-info span {
    font-family: Zilla Slab;
    font-size: 18px;
    
}

.nav-settings {
    position: absolute;
    top: 0;
    right: 0;
    width: 305px;
    height: 83px;
    background: #253476;
}

.nav-settings p {
    color: #FFFFFF;
    text-align:center;

}

/* Home page style start */
.golden-container h1 {
    width: 690px;
    height: 118px;
    font-family: Zilla Slab;
    font-size: 38px;
    text-align: center;
    letter-spacing: 6px;
    position: absolute;
    left: 355px;
    top: 318px;
    /* color: #FFFFFF; */

}

/* .body-img img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 1;
} */

.slider-icon {
    width: 37px;
    height: 37px;
    /* color: #FFFFFF; */
}

.slider-icon-first i {
    position: absolute;
    left: 147px;
    top: 400px;
    
}

.slider-icon-right i {
    position: absolute;
    left: 1255px;
    top: 367px;
    
}

.social-icon i {
    position: relative;
    left: 145px;
    bottom: 52px;
    letter-spacing: 2px;
    /* color: #FFFFFF; */
}

.social-icon i:hover {
    color: #27AE60;
}
