$purple: #AD1FEA;
$back-col: #F2F2F2;
$pink: #F49F85;
$colorh: #3A4374;
$colorp: #647196;
$commentcolor: #CDD2EE;
$button: #F2F4FF;
$buttonhover: #C75AF6;
$buttonclick: #4661E6;
$blue: #62BCFA;
$nav-back: #373F68;
$icons-hover: #CFD7FF;


// @media only screen and ({

// }