* {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;

}


.nav-header {
    width: 100vw;
    height: 110px;
   background: #FDF5EB;
   position: relative;
   padding: 2px 84px 5px ;
   margin: 0 0 -104px;
}

.bar {
    width: 1135px;
    height: 94px;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;

}


.logo-img {
    width: 334px;
    height: 34px;
}

.logo-img img {
    width: 167px;
    height: 34px;
}

.bar-menu  {
    width: 742px;
    height: 94px;
    letter-spacing: 1px;
   
}

.bar-menu a {
    text-decoration: none;
    color: #333331;
    cursor: pointer;

}

.nav-social {
    width: 192px;
    height: 24px;
    letter-spacing: 2px;
}
.nav-social i {
    cursor: pointer;
}