.numerals-container {
    width: 1502px;
    height: 383px;
    background-image: url(../img/counter-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 120px 0 90px;
}

.numerals-row {
    width: 1320px;
    height: 173px;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    align-content: space-around;
    align-items: center;
}

.numerals-row span {
    width: 120px;
    height: 18px;
    font-size: 15px;
    color: white;
}
.first-numeral {
    width: 205px;
    height: 28px;
    text-align: center;
    
}


.first-numeral  h2 {
    width: 205px;
    height: 100px;
    font-size: 100px;
    color: white;
}

.first-numeral i {
    font-size: 20px;
    position: relative;
    right: -125px;
    top: -185px;
    color: #f26b31;
}

.second-numeral {
    width: 205px;
    height: 28px;
    text-align: center;
    
}

.second-numeral h2 {
    width: 205px;
    height: 100px;
    font-size: 100px;
    color: white;
}

.second-numeral i {
    font-size: 20px;
    position: relative;
    right: -125px;
    top: -185px;
    color: #f26b31;
}

.third-numeral {
    width: 205px;
    height: 28px;
    text-align: center;
    
}

.third-numeral h2 {
    width: 205px;
    height: 100px;
    font-size: 100px;
    color: white;
}

.third-numeral i {
    font-size: 20px;
    position: relative;
    right: -125px;
    top: -185px;
    color: #f26b31;
}
.fourth-numeral {
    width: 205px;
    height: 28px;
    text-align: center;
    
}

.fourth-numeral h2 {
    width: 205px;
    height: 100px;
    font-size: 100px;
    color: white;
}

.fourth-numeral i {
    font-size: 20px;
    position: relative;
    right: -125px;
    top: -185px;
    color: #f26b31;
}