* {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.demo-container {
  margin-left: 2rem;
  margin-right: 2rem;
}

.demo-container .demo-heading {
  width: 72rem;
  text-align: center;
}

.demo-container .demo-heading h3 {
  font-weight: bold;
  font-size: 2rem;
}

.demo-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.demo-container .row .col4 {
  position: relative;
  min-height: 1px;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: #fff;
  overflow: hidden;
}

.demo-container .row .col4:hover::before {
  width: 296px;
  height: 350px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-animation: anima1 0.2 linear;
          animation: anima1 0.2 linear;
  opacity: 1;
}

.demo-container .row .col4::before {
  content: "";
  width: 100vh;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 4rem;
  opacity: 0;
  border-left: 2px solid #24cf5f;
  border-bottom: 2px solid #24cf5f;
}

.demo-container .row .col4::after {
  content: "";
  width: 100vh;
  height: 100%;
  position: absolute;
  top: 0;
  left: 4rem;
  opacity: 0;
  border-right: 2px solid #24cf5f;
  border-top: 2px solid #24cf5f;
}

.demo-container .row .col4:hover::after {
  width: 296px;
  height: 350px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-animation: anima2 0.2s linear;
          animation: anima2 0.2s linear;
  opacity: 1;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

@-webkit-keyframes anima1 {
  0% {
    width: 0;
    height: 0;
  }
  70% {
    width: 220px;
    height: 200px;
  }
  100% {
    width: 296px;
    height: 296px;
  }
}

@keyframes anima1 {
  0% {
    width: 0;
    height: 0;
  }
  70% {
    width: 220px;
    height: 200px;
  }
  100% {
    width: 296px;
    height: 296px;
  }
}

@-webkit-keyframes anima2 {
  0% {
    width: 0;
    height: 0;
  }
  70% {
    width: 220px;
    height: 200px;
  }
  100% {
    width: 296px;
    height: 296px;
  }
}

@keyframes anima2 {
  0% {
    width: 0;
    height: 0;
  }
  70% {
    width: 220px;
    height: 200px;
  }
  100% {
    width: 296px;
    height: 296px;
  }
}

.demo-container .row .col4 .demo-icon {
  width: 8rem;
  height: 8rem;
}

.demo-container .row .col4 .demo-icon i {
  font-size: 3.25rem;
  color: #24cf5f;
}

.demo-container .row .col4 p {
  padding: 0 1rem 1rem;
  color: #919191;
}

.demo-container .row .col4 a {
  text-decoration: none;
  background: #24cf5f;
  color: #fff;
  padding: 1rem;
  margin: 0.625rem;
  border-radius: 1rem;
  display: inline-block;
  cursor: pointer;
}

.demo-container .row .col4 a:hover {
  background-color: #47df7b;
}
