:root {
    --icon-backcolor: orange;
    --icon-color: white;
    --background-blue: blue;

}

.fa-house {
    background-color: var(--icon-backcolor);
    color: var(--icon-color);
}

.fa-facebook {
    background-color: var(--background-blue);
    color: var(--icon-color);
}

