* {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.demo-container {
  margin-left: 2rem;
  margin-right: 2rem;
}

.demo-container .demo-heading {
  width: 72rem;
  text-align: center;
}

.demo-container .demo-heading h3 {
  font-weight: bold;
  font-size: 2rem;
}

.demo-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.demo-container .row .col4 {
  position: relative;
  min-height: 1px;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: #fff;
}

.demo-container .row .col4:hover {
  border: 3px solid #24cf5f;
  -webkit-transform: rotate(0.3return);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.demo-container .row .col4 .demo-icon {
  width: 8rem;
  height: 8rem;
}

.demo-container .row .col4 .demo-icon i {
  font-size: 3.25rem;
  color: #24cf5f;
}

.demo-container .row .col4 p {
  padding: 0 1rem 1rem;
  color: #919191;
}

.demo-container .row .col4 a {
  text-decoration: none;
  background: #24cf5f;
  color: #fff;
  padding: 1rem;
  margin: 0.625rem;
  border-radius: 1rem;
  display: inline-block;
  cursor: pointer;
}

.demo-container .row .col4 a:hover {
  background-color: #47df7b;
}
