.blog-header {
    width: 1305px;
    height: 77px;
    margin: 0px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    
}

.blog-header h3 {
    font-size: 45px;
    width: 1305px;
    height: 10px;

}
.blog-header p {
    width: 1305px;
    height: 22px;
    font-size: 16px;
    color: black;
}
.blog-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blog {
    background-color: white;
    width: 360px;
    height: 270px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    color: #74777C;
}



.blog-first-image {
    background-image: url(./img/gallery-img1.jpg);
    height: 315px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.blog-second-image {
    background-image: url(./img/gallery-img2.jpg);
    height: 315px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.blog-third-image {
    background-image: url(./img/gallery-img3.jpg);
    height: 315px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.blog h3 {
    color: black;
    font-size: 20px;
    text-align: center;
}

.blog p{
    font-size: 15px;
    text-align: center;

}
