.heading {
    background-color: rgb(247, 248, 248);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    width: 458px;
    height: 375px;
}
.contactform {
    display: flex;
    flex-direction: column;
    width: 487px;
    height: 382px;
    justify-content: center;
    margin-left: 30%;
}

.contact-info input {
    background-color: rgb(247, 248, 248);
    border: 1px solid rgba(0, 0, 0, .2);
    box-sizing: border-box;
    padding: 20px;
    width: 748px;
    height: 22px;
    margin-bottom: 20px;
}

.contact-text input {
    background-color: rgb(247, 248, 248);
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 10px;
    width: 748px;
    height: 120px;
    box-sizing: border-box;
    padding-bottom: 100px;
    margin-bottom: 20px;
}

.contact-button button {
    background-color: #000;
    border: 1px solid rgba(0, 0, 0, .2);
    color: #fff;
    padding: 9px 40px 14px 40px;
    width: 187px;
    height: 53px;
}

.contact-button button:hover {}