
.services-heading {
    margin: 0px auto;
    text-align: center;
}

.services-items-row1 {
    display: flex;

}

.services-items-row2 {
    display: flex;
}

.service-items-info {
    background: #ffffff;
    width: 34%;
    box-shadow: 0px 0px 45px 22px #eee;
    padding: 40px 30px 40px 30px;
    border-radius: 5px 5px 5px 5px;
    margin: 0px -7px 0 0;
    transition: all 0.3s ease-in-out 0s;
}

.service-icon i {
    color: #f26b31;
    margin-bottom: 17px;
    font-size: 30px;
    width: 60px;
    height: 60px;
    background:#f8f8f8;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
}

.service-content h3 a {
    text-decoration: none;
    color: #2d2e2e;
    transition: all 0.3s ease 0s;
}