

.staff-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.staff {
    background-color: white;
    width: 360px;
    height: 270px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}



.first-image {
    background-image: url(./img/our-team1.jpg);
    height: 315px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.second-image {
    background-image: url(./img/our-team2.jpg);
    height: 315px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.third-image {
    background-image: url(./img/our-team3.jpg);
    height: 315px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fourth-image {
    background-image: url(./img/our-team4.jpg);
    height: 315px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.staff h3 {
    color: black;
    font-size: 15px;
    text-align: center;
}

.staff p{
    font-size: 15px;
    text-align: center;
}
